@import url(https://fonts.google.com/specimen/DM+Sans);

body {
  margin: 0;
  font-family: "DM Sans";
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
