@import url(https://fonts.google.com/specimen/DM+Sans);

body {
  margin: 0;
  font-family: Arial;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
